@font-face{
	font-family: open-sans;
	src:url('../webfonts/OpenSans-Regular.ttf');
}

@font-face{
	font-family: montserrat;
	src:url('../webfonts/Montserrat-Regular.ttf');
}
@font-face{
	font-family: montserrat-bold;
	src:url('../webfonts/Montserrat-Bold.ttf');
}